* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* The main container class containing all the elements  */
.container{
  color: white;
  height: 100%;
  overflow: hidden;
  /* position: relative;  */
  z-index: 1;
}

.container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url(images/markus-spiske-iar-afB0QQw-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
    width: 100%;
    position: fixed;
}

/* Title  */
#title {
  text-align: center;
  line-height: 1.5;
  padding: 20px;
  background-color: gainsboro;
  position: relative;
  animation: to-bottom 1s ease-out;
  color: black;
}

/* Animation for the title  */
@keyframes to-bottom {
  from{
    bottom: 1000px;
  }
  to{
    bottom: 0;
  }
}

/* Score Cards */
#score {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-content: center;
  font-size: 2rem;
  text-align: center;
}

.score-card{
  background-image: url(images/etienne-martin-v6uiP2MD6vs-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat ;
  height: 400px;
  width: 100%;
  display: grid;
  align-items: center;
  color: white;
  font-weight: 700;
}

i{
  font-size: 10rem;
  color: rgb(255, 196, 0);
}


/* Animation class for player score card  */
.right{
  position: relative;
  animation: to-left 4s ease-out;
}

@keyframes to-left {
  from{
    right: 1000px;
  }
  to{
    right:  0px;
  }
}


/* Animation class for computer score card  */
.left{
  position: relative;
  animation: to-right 4s ease-out;
}

@keyframes to-right {
  from{
    left: 1000px;
  }
  to{
    left:  0px;
  }
}

/* The game status  */
#status{
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
}

/* The game over message  */
.game-over{
    /* font-size: 2rem; */
    text-align: center;
    margin: 220px 0 0 0;

}

.game-over button{
  padding: 30px;
  margin: 20px 0;
}

The winning animation
.winning-animation{
  position: relative;
  animation: win 0.5s linear;
}

@keyframes win {
  0%{
    transform: rotate(0deg);
  }
  50%{
    font-size: 2.3rem;
  }
  100%{
    transform: rotate(360deg);
    font-size: 2rem;
  }
}

/* The main game used by the user  */
#play-game {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid white; */
  /* margin: 0 500px; */
}

#play-game button {
  height: 3rem;
  width: 6rem;
  margin: 0 2rem;
}

/* Animation class for status and play-game  */

.to-top{
  background-color: black;
  padding: 10px;
  position: relative;
  animation: to-top 4s ease-out;
  z-index: 1;
}

@keyframes to-top {
  from{
    top: 1000px;
  }
  to{
    top:0;
  }
}

/* Footer  */
footer{
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.7);
  position: relative;
  /* bottom: 0; */
  /* height: 70px; */
  z-index: 3;
  padding: 30px 0;
}

footer i{
  font-size: 3rem; 
  margin: 0 10px;
  color: white;
}

