* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* The main container class containing all the elements  */
.container {
  color: white;
  height: 100vh;
  overflow: hidden;
  font-family: "Architects Daughter", cursive;
  z-index: 1;
}

.container::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url(images/main-bg.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

/* Title  */
#title {
  text-align: center;
  line-height: 1.5;
  padding: 20px;
  background-color: gainsboro;
  position: relative;
  animation: to-bottom 1s ease-out;
  color: black;
  font-size: 1.4rem;
}

/* Animation for the title  */
@keyframes to-bottom {
  from {
    bottom: 1000px;
  }
  to {
    bottom: 0;
  }
}

/* Score Cards */
#score {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-content: center;
  font-size: 2rem;
  text-align: center;
}

.score-card {
  background-image: url(images/score.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
  width: 100%;
  display: grid;
  align-items: center;
  color: black;
  font-weight: 700;
}

i {
  font-size: 10rem;
  color: rgb(255, 196, 0);
}

/* Animation class for player score card  */
.right {
  position: relative;
  animation: to-left 4s ease-out;
}

@keyframes to-left {
  from {
    right: 1000px;
  }
  to {
    right: 0px;
  }
}

/* Animation class for computer score card  */
.left {
  position: relative;
  animation: to-right 4s ease-out;
}

@keyframes to-right {
  from {
    left: 1000px;
  }
  to {
    left: 0px;
  }
}

/* The game status  */
#status {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
}

/* The game over message  */
.game-over {
  text-align: center;
  margin: 220px 0 0 0;
}

/* The winning animation */
.winning-animation {
  position: relative;
  animation: win 0.5s linear;
}

@keyframes win {
  0% {
    transform: rotate(0deg);
  }
  50% {
    font-size: 2.3rem;
  }
  100% {
    transform: rotate(360deg);
    font-size: 2rem;
  }
}

/* The main game used by the user  */
#play-game {
  height: 100%;
  padding: 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #FCFCFD;
  border-radius: 4px;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  height: 48px;
  padding: 0 16px;
  text-align: center;
  transition: box-shadow .15s,transform .15s;
  margin: 1rem 2rem;
  font-size: 18px;
}

button:hover {
  transform: translateY(-2px);
}

button:active {
  transform: translateY(2px);
}

/* Animation class for status and play-game  */

.to-top {
  background-color: black;
  padding: 30px;
  position: relative;
  animation: to-top 4s ease-out;
  z-index: 1;
}

@keyframes to-top {
  from {
    top: 1000px;
  }
  to {
    top: 0;
  }
}

/* Footer  */
footer {
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  position: relative;
  z-index: 3;
  padding: 20px 0;
  height: 100px;
}

footer i {
  font-size: 2rem;
  margin: 0 10px;
  color: white;
}


/* Media queries to make the site responsive */
/* @media (max-height: 1400px) {
  .container{
    height: 100%;
  }

  .score-card{
    height: 500px;
  }

  footer{
    height: 100%;
  }
} */

@media (max-width:600px) {
  #play-game{
    justify-content: space-evenly;
  }

  #title{
    font-size: 1rem;
  }

  .score-card{
    height: 400px;
    font-size: 2rem;
    padding: 10px;
  }

  #play-game{
    font-size: 1rem;
  }

  button{
    margin: 0;
  }

  i{
    font-size: 8rem;
  }
  
}